
/*
  font-family: 'Merriweather', serif;
  font-family: 'Lato', sans-serif;
 */


body {
  margin: 0;
  font-family: 'Merriweather', serif;
  background: #ddd;
  color: hsl(23, 50%, 35%);
}

@media (max-width: 750px) {
  body {
    font-size: 14px;
  }
}

h1, h2, h3 {
  text-align: center;
  font-weight: 300;
  font-family: 'Lato', sans-serif;
  color: hsl(38, 70%, 50%);
  padding: 0 1rem;
}

p, ul {
  padding: 0 1rem;
}
h2 {
  font-size: 4em;
  text-transform: uppercase;
}


a {
  color: hsl(38, 100%, 45%);
  text-decoration: none;
}
a:hover {
  color: hsl(38, 100%, 20%);
  text-decoration: underline;
}




nav {
  position: fixed;
  top: 1em;
  left: 1em;
  border-radius: 0.3em;
  background-color: hsl(38, 97%, 54%);
  z-index: 1000;
  text-transform: uppercase;
}

nav ul {
  list-style: none;
  padding: 1em;
  margin: 0;
	background: inherit;
  border-radius: inherit;
  font-size: 1.2em;
  font-family: 'Lato', sans-serif;
}

nav .icon-menu {
  display: none;
  padding: 0.3em;
  padding-left: 0.2em;
  color: white;
  font-size: 1.5em;
  position: relative;
  z-index: 1000;
}

nav a {
  text-decoration: none;
  color: white;
}

nav a:target {
  color: black;
}


@media (max-width: 750px) {
  nav .icon-menu {
    display: block;
  }
  nav ul {
    position: absolute;
    padding-top: 2em;
    padding-left: 0.5em;
    top: 0;
    transform: scale(1, 0);
    transform-origin: 0 0;
    opacity: 0;
    transition: opacity 0.3s ease-out, transform 0.3s ease-out;
  }
  nav:hover ul {
    transform: scale(1);
    opacity: 1;
  }
}






header {
  width: 100vw;
  height: 100vh;
  background-image: url(../img/lorena.jpg);
  background-size: cover;
  background-position: 78% 20%;
}

header .texto {
  position: absolute;
  top: 40%;
  left: 5%;
  color: #ccc;
  font-size: 1.4em; 
  white-space: nowrap;
  text-align: center;
}

header .texto h1 {
  font-weight: 100;
  font-size: 2.4em;
  font-family: 'Lato', sans-serif;
  margin: 0;
  margin-left: -0.1em;
  color: inherit;
}

header .texto p {
  font-family: 'Lato', sans-serif;
  word-spacing: 0.5em;
  letter-spacing: 0.418em;
  font-weight: 800;
  margin: 0;
}

@media (max-width: 900px) {
  header .texto {
    top: initial;
    left: initial; 
    bottom: 5%;
    width: 100%;
    font-size: 1em;
  }
}





section#trabajo {
  max-width: 700px;
  margin: auto;
}

section#trabajo h2 {
  margin-top: 2em;
}

section#trabajo img {
  display: block;
  margin: auto;
  width: 100%;
  max-width: 700px;
}

section#trabajo p {
  font-size: 2em;
  margin-bottom: 6em;
}





section#diseño img {
  display: block;
  width: 100%;
  max-width: 300px;
  margin: 2em auto;
}

section#diseño .mujer {
  max-width: 900px;
}

section#diseño .cartel {
  max-width: 500px;
}

section#diseño .fila {
  text-align: center;
}

section#diseño .fila > * {
  display: inline-block;
}

section#diseño .columna {
  vertical-align: top;
}

section#diseño .columna img {
  margin: 3em;
}




section#curriculum {
  max-width: 700px;
  margin: auto;
}

section#curriculum .intro {
  font-size: 1.5em;
  text-indent: 2.5em;  
}

section#curriculum h3 {
  text-transform: uppercase;
  font-size: 2em;
  text-align: left;
  margin: 1.5em 0 0.5em;
}

section#curriculum ul {
  list-style: none;
  margin: 0;
  padding: 0 1rem;
  font-size: 1.2em;
}

section#curriculum ul.academica p.escuela {
  font-size: 1.1em;
  margin: 0;
  padding: 0;
}

section#curriculum ul p.titulo {
  font-size: 0.9em;
  margin: 0;
  padding: 0;
  margin-bottom: 0.5em;
}

section#curriculum ul.contacto {
  line-height: 1.6;
}

section#curriculum .contacto a {
  text-decoration: none;
}

section#curriculum .social a {
  font-size: 1.4em;
  color: hsl(23, 50%, 35%);
}



section#fotos {
  text-align: center;
}

section#fotos img,
section#fotos .columna {
  display: inline-block;
  width: 30%;
}

section#fotos .columna img {
  width: 100%;
}

@media (max-width: 600px) {
  section#fotos img,
  section#fotos .columna {
    width: 100%;
  }
}


footer {
  padding: 2em;
  text-align: center;
}

