.logo {
  width: 50%;
  display:block;
  margin:auto;
}


.inicio {
	width: 80%;
	margin: 0px auto;
	border: 2px solid;
	background-size:20px;
	background-repeat: no-repeat;
	background-color:#FFE1E1;
	background-position: center; 
	border-style: solid;	

  text-align: center;
  
  text-shadow: 
      0 0 10px #fff,
      0 0 20px #fff,
      0 0 30px #fff,
      0 0 40px #ff00de,
      0 0 70px #ff00de,
      0 0 80px #ff00de,
      0 0 100px #ff00de,
      0 0 150px #ff00de; 
}


.navigacion {
  text-align: center;
}

.partes {
	text-align:right;      	
}


.image {
	max-width: 256px;
	max-height: 256px;
	background-image:	
}
.face{
    text-align: center;    
}
.historia {
	width: 20%;
	height: 50%;
    background-color: fuchsia;
    text-align: left;
    font-size: 15px;
    font-family: serif;
    border: 1px; 
    float: left;
    
}
table{
    text-align: center;
    border: 1px solid;
    border-color: coral
}
.caja{
	width:30%;
	
	
}
table td{
    border: 1px solid;
    border-color:coral;
    padding: 10px;
}
table tr:hover{
    background-color: darkgoldenrod;   
}
.contenido{
	width: 60%;
	max-width: 100%;
	margin: 0px auto;
	background-color: #3C0000;
	border: 0px solid;
	text-align: center;
		
}
.histori img{
	text-align: center;
}
