.logo {
  width: 50%;
  display:block;
  margin:auto;
}


.inicio {
	background-size:50px;
	background-repeat: no-repeat;
	background-color:#cc9900;
	background-position: center; 
	border-style: solid;	

  text-align: center;
  
  text-shadow: 
      0 0 10px #fff,
      0 0 20px #fff,
      0 0 30px #fff,
      0 0 40px #ff00de,
      0 0 70px #ff00de,
      0 0 80px #ff00de,
      0 0 100px #ff00de,
      0 0 150px #ff00de; 
}


.navigacion {
  text-align: center;
}


.partes {
	text-align:right; 
        	
}

<style type="text/css">div
.image {
	max-width: 256px;
	max-height: 256px;
	background-image:	
}
.a{ text-align: center;
}


	 
	