.logo {
  width: 50%;
  display:block;
  margin:auto;
}


.inicio {
	background-size:20px;
	background-repeat: no-repeat;
	background-color:darkmagenta;
	background-position: center; 
	border-style: solid;	

  text-align: center;
  
  text-shadow: 
      0 0 10px #fff,
      0 0 20px #fff,
      0 0 30px #fff,
      0 0 40px #ff00de,
      0 0 70px #ff00de,
      0 0 80px #ff00de,
      0 0 100px #ff00de,
      0 0 150px #ff00de; 
}


.navigacion {
  text-align: center;
}

.partes {
	text-align:right;      	
}


.image {
	max-width: 256px;
	max-height: 256px;
	background-image:	
}
.face{
    text-align: center;    
}
.historia {
    background-color: fuchsia;
    text-align: center;
    font-size: 15px;
    border: 5px; 
}
table{
    text-align: center;
    border: 1px solid;
    border-color: coral
}
table td{
    border: 1px solid;
    border-color:coral;
    padding: 10px;
}
table tr:hover{
    background-color: darkgoldenrod;   
}
