.logo {
  width: 40%;
  margin: 0 auto;
  display: block; 
 text-align: center; 
}
.borde {
	border-color: darkgoldenrod;
	border: 8px solid;
}
.social {
	width: 100%;
	height: 80px;
	background-color: #BB6800; 
	border-color: #B36709;
	border: 2px;		
}
.navigacion {
  text-align: center;
}
.burger, .pan {
  display: block;
  max-width: 100%;
  margin: auto;
}
.image {
	max-width: 256px;
	max-height: 256px;
	background-image:	
}

.historia {
	width: 10%;
	max-width: 100%;
	height: 50%;
    background-color: fuchsia;
    text-align: center;
    font-size: 15px;
    font-family: serif;
    border: 1px; 
    float: right;
    box-sizing:border-box;
    
}
.inicio{
	position: relative;
	top: 30px;
	right: 300px;
	text-align: right;
	font-size: 50px;
	font-family: 'Cinzel', serif;	
}
.hora{  
	position: relative;
	top: 30px;
	right: 300px;
	text-align: right;
	font-size: 35px;
	font-family: 'Poiret One', cursive;
}
table{
	color: #3B3176;
    text-align: center;
    font-size: 30px;
    font-family: 'Josefin Sans', sans-serif;
}

table tr:hover{
    background-color: darkgoldenrod;   
}
.direccion{
	position: relative;
	top: 30px;
	right: 300px;
	text-align: right;
	font-size: 35px;
	font-family: 'Poiret One', cursive;	
}
 .down {
	 width: 100%;
	 background: #BB6800;    
}
.galeria{
	width: 95%;
	margin: auto;
	overflow: hidden;
}
.galeria ul{
	display: flex;
	padding: 0;
	width: 400%;
	
	animation: cambio 20s infinite;	
	animation-direction: alternate;
}
.galeria li{
	width: 100%;	
}
.galeri img{
	width: 100%;

@keyframes cambio{
	0%{margin-left: 0;}
	20%{margin-left: 0;}
	
	25%{margin-left: -100;}
	45%{margin-left: -100;}
	
	50%{margin-left: -200;}
	70%{margin-left: -200;}
	
	75%{margin-left: -300;}
	100%{margin-left: -300;}
}


