.boby{ 
    background:#444;
    margin: 0;
   display: flex;
   min-heigt:100vh; 
    
}
.estilo{
	width: 500px;
	height: 300px;
	margin: auto;
	position: relative;
	list-style: none;
	padding: 0;
	display: flex;
	
	justify-content: center;
	align-items: flex-end;
	
	
	box-shadow: 0 0 0 10px white,
	            0 0 0 25px,
		    0 30px 60px;
	
	
}
.estilo img{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height:100%;
	opacity:0;
	transition: all 0.7s;	
}

.estilo input[type="radio"]{
	display: none;

}
.estilo input[type="radio"]:checked ~ img{
	opacity: 1;
	
}
.estilo input[type="radio"] + label {
	position: relative;
	z-index:50;
	margin: 10px;
	
	display: block;
	width: 20px;
	height: 20px;
	background: white;
	border-radius: 50%;
	border: 2px solid black;
	cursor: pointer;
	
}
.estilo input[type="radio"]:checked + label{
	background: black;
	border: 2px solid white;
	
	
}





















