/*index*/
@import url(http://fonts.googleapis.com/earlyaccess/jejugothic.css);
* {
  margin: 0;
  padding: 0;
}
img{
	display: block;
	max-width: 100%

}


/*--------------------------------estilos del header--------------------------------*/
header{
	height: 60px;
}
 
.icon-menu{
	margin: 5px;
}
.icon-menu{
	display:block;
	width:40px;
	height:40px;
	font-size: 30px;
	background: #FBA919;
	color:white;
	text-align: center;
	line-height: 40px;
	border-radius:5px;
	margin-left: auto;
	cursor: pointer;
	
}
/*-------------------------------estilos del menu-------------------------------*/
.nav{
	position:absolute;
	top:60px;
	left:-100%;
	width:100%;
	transition: all 0.4s;

	
}
.menu{
	list-style: none;
	padding: 0;
	margin: 0;
}

.menu--link{
	 margin:5px;
	display: block;
	padding: 15px;
	background: #FBA919;
	text-decoration: none;
	color:white;
	border-radius: 5px;
	
}
.menu--link:hover{
	background: #333;
	color: #FBA919;
}
.mostrar{
	left: 0;
}
.select{
	background: white;
	color: #FBA919;
}

/* ---------------------iconos de las redes sociales---------------------*/

.footer{
	margin-bottom: 40px;

	background-color:  #FBA919;
	color: white;
	padding: 10px;
	text-align: center;	
	font-family: 'Amatic SC', cursive;

}
.social{
	display: inline-block;
	color:white;
	text-decoration: none;
	font-size:25px;
	padding: 10px;
	line-height: 40px;		
}
.icon-googleplus{
	border-radius: 50px;
	box-shadow: 1px 1px #111;
	background-color: #552900;
	text-decoration: none;
	color: #FBA919 ;
}
.icon-googleplus:hover{
	background-color: white;

}
.icon-facebook-rect{
	border-radius: 50px;
	background-color: #552900;
	text-decoration: none;
	color: #FBA919;
}
.icon-facebook-rect:hover{
	background-color: white;
}
.icon-github{
	border-radius: 50px;
	background-color: #552900;
	text-decoration: none;
	color: #FBA919;
}
.icon-github:hover{
 background-color: white;
}
.icon-instagram{
	border-radius: 50px;
	background-color: #552900;
	text-decoration: none;
	color: #FBA919;
}
.icon-instagram:hover{
	background-color: white;
}

/* --------------------------estilos del banner--------------------------*/
.banner{
	margin-top: -60px;
	position: relative;
	z-index: -1000;
	margin-bottom: 30px;

}
.banner .contenedor {
	position: absolute;
	top: 50%;
	left:  40%;
	transform: translateX(-50%) translatey(-50%);
	color: white;
	text-align: center;
	font-size: 40px;
}
.banner-text{
	display: none;
}
.banner-titulo{
	color: white;
	font-size: 40px;
	text-align: center;
}



/*-------------------------estilos de galeria-------------------------*/
.contenido{
	width: 80%;
	margin: auto;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;

}
.info-columna{
	color: white;
	padding: 5px;
	margin-bottom: 10px;
	border-radius: 5px;

}
.info-img{
	border-radius: 50px;
}
.info-titulo{
	color:white;
	font-size: 30px;
	text-align: center;
}
.info-letra{
	width: 50%;
	margin: auto;
	color: #FBA919;
	text-align: center;

}

h1, h2, h3, h4, h5, h6{
	font-size: 45px;
	font-family: 'Amatic SC', cursive;
	color: black;
	text-align: left;
	margin: 50px ;

}
/*------------------------estilos de fotografia ------------------------*/
.jarrito{
	width: 80%;
	margin: auto;
}
.selection-titulo{
	text-align: center;
	font-size: 40px;
	color: #FBA919 ;

}
.proyectos{
	width: 80%;
	margin: auto;
}
.proyecto-columna{
	position: relative;
	margin: 20px;

}
.proyecto-descripcion{
	position: absolute;
	top: 0;
	left: 0;
	color: white;
	background-color: rgba(0,0,0,0.5);
	width: 60%;
	height: 100%;
	padding: 1px;
}
.proyecto-txt{
	font-size: 25px;
	margin: 5px 0;
}

.sitio{
	width: 50%;
	margin: auto;
	color: #FBA919;
	text-align: center;

}
.jarrito-img{
	margin: auto;
	width: 50%;
	padding: 
}
.selection-titulo{
	width: 50%;
	margin: auto;
	color: #FBA919;
	text-align: center;

}

/*---------------------los media para responsive--------------------- */
@media(min-width:480px){
.banner-titulo{
	font-size: 30px;
	margin: 5px 0;
}
.banner-text{
	display: block; 
}
.info-titulo{
	font-size: 70px;
	color: #FBA919;
}
}
		
@media(min-width:768px){
.banner-titulo{
	font-size: 40px;
	margin: 8px 0;
}
.info-titulo{
	font-size: 40px;
}
.proyecto-columna{
	justify-content: space-between;
	flex-wrap: wrap;
	width: 35%;
	margin-top: 0;
}
.proyecto-titulo{
 font-size: 35px;
 color: white;

}


.info-img{
	width: 60%;
	padding: 20px;
	margin: 20px auto; 
}
}

@media(min-width:1024px){
.banner-titulo{
	font-size: 50px;
	margin: 10px 0;
}
.info-titulo{
	font-size: 50px;
}
.info-img{
    width: 50%;
	padding: 5px;
	margin: 5px auto; 
}
.info-columna{
	margin: auto;
	width: 60%;
	padding: 10px;
	margin-bottom: 25px;


}
.nav{
	position: static;
	width: auto;
}
.menu{
 display: flex;
}
.menu-link{
	background: none;
	font-size: 45px;
}
.select{
	color: white;
	background: none;
}
.icon-menu{
	display: none;
}
.selection-titulo{
	font-size: 50px
}
.proyecto-titulo{
 font-size: 40px;
 color:#FBA919 ;

}
}
@media(min-width:1280px){
.contenedor{
	width: 80%;
	margin: auto;
} 
.banner-img{
	width: 80%;
	margin: auto;
	box-shadow: 1px 1px #393A50,
	            2px 2px #393A50,
	            3px 3px #393A50,
	            4px 4px #393A50;
}
.banner-titulo{
	font-size: 79px;
	margin: auto;
     text-align: center;
     
}
.banner-text{
	margin: auto;
}
.footer{
	width: 80%;
	margin: auto;
}
.info-columna{
	padding: 30px;
	background-color: rgba(0,0,0,0.3);
	margin: 10px;
	width: 500px;
	

}
.info-img{
	width: 900px;
	margin: auto;
	box-shadow: 1px 1px #393A50,
	            2px 2px #393A50,
	            3px 3px #393A50,
	            4px 4px #393A50,
	            5px 5px #393A50,
	            6px 6px #393A50,
	            7px 7px #393A50,
	            8px 8px #393A50;	
}
.info-titulo{
	text-align: center;
	color: white;
	font-size: 30px;
	
}
.proyectos{
	display: flex;
	justify-content: center;
}
}




	














	

