/*index*/
@import url(http://fonts.googleapis.com/earlyaccess/jejugothic.css);
* {
  margin: 0;
  padding: 0;
}
img{
	display: block;
	max-width: 100%

}

body {
  background:;
  
}
.contenedor{
	width: 95%;
	margin: auto;
}

/*--------------------------------estilos del header--------------------------------*/
header{
	height: 60px;
}
.header .contenedor{
	display:flex;
	justify-content: spece-between;
	
}
.icon-menu{
	margin: 5px;
}
.icon-menu{
	display:block;
	width:40px;
	height:40px;
	font-size: 30px;
	background: #FBA919;
	color:white;
	text-align: center;
	line-height: 40px;
	border-radius:5px;
	margin-left: auto;
	cursor: pointer;
	
}
/*-------------------------------estilos del menu-------------------------------*/
.nav{
	position:absolute;
	top:60px;
	left:-100%;
	width:100%;
	transition: all 0.4s;
	
}
.menu{
	list-style: none;
	padding: 0;
	margin: 0;
}

.menu--link{
	display: block;
	padding: 15px;
	background: #FBA919;
	text-decoration: none;
	color:white;
	
}
.menu--link:hover{
	background: white;
	color: #FBA919;
}
.mostrar{
	left: 0;
}
.select{
	background: white;
	color: #FBA919;
}
/*------------------------------* estilo de linea ariba*------------------------------*/
.linea4{
	
        width: 80%;
	float: auto;
	clear: both; 
	outline-style: dashed;
        display: block;
        vertical-align: center;
        border: 1px solid;
        border-color: #5B9632;	
}

/* ---------------------iconos de las redes sociales---------------------*/

.footer{
	background:  #FBA919;
	color: white;
	padding: 10px;
	text-align: center;	
}
.social{
	display: inline-block;
	color:white;
	text-decoration: none;
	font-size:25px;
	padding: 10px;
	background: white;
	border-radius: 50%;
	line-height: 40px;		
}
.icon-googleplus{
	text-decoration: none;
	color:#FBA919 ;
}
.icon-facebook-rect{
	text-decoration: none;
	color:#FBA919 ;
}
.icon-github{
	text-decoration: none;
	color:#FBA919 ;
}
.icon-instagram{
	text-decoration: none;
	color:#FBA919 ;
}


/* --------------------------estilos del banner--------------------------*/
.banner{
	margin-top: -60px;
	position: relative;
	z-index: -1000;
	margin-bottom: 30px;

}
.banner .contenedor {
	position: absolute;
	top: 50%;
	left:  40%;
	transform: translateX(-50%) translatey(-50%);
	color: white;
	text-align: center;
	font-size: 40px;
}
.banner-text{
	display: none;
}
.banner-titulo{
	color: white;
	font-size: 40px;
	text-align: center;
}



/*-------------------------estilos de galeria-------------------------*/
.info-columna{
	background:#FBA919;
	color: white;
	padding: 15px;
	margin-bottom: 30px;

}

h1, h2, h3, h4, h5, h6{
	font-size: 45px;
	font-family: 'Amatic SC', cursive;
	color: black;
	text-align: left;
	margin: 50px ;

}
/*------------------------estilos de proyectos------------------------*/
.selection-titulo{
	text-align: center;
	font-size: 40px;
	color: #FBA919

}
.proyecto-columna{
	position: relative;
	margin: 20px;

}
.proyecto-descripcion{
	position: absolute;
	top: 0;
	left: 0;
	color: white;
	background: rgba(0,0,0,0.5);
	width: 60%;
	height: 100%;
	padding: px;
}
.proyecto-txt{
	font-size: 25px;
	margin: 5px 0;
}

/*---------------------los media para responsive--------------------- */
@media(min-width:480px){
.banner-titulo{
	font-size: 30px;
	margin: 5px 0;
}
.banner-text{
	display: block; 
}
.info-titulo{
	font-size: 35px;
}
}
		
@media(min-width:768px){
.banner-titulo{
	font-size: 40px;
	margin: 8px 0;
}
.info-titulo{
	font-size: 40px;
}
.proyecto-columna{
	justify-content: space-between;
	flex-wrap: wrap;
	width: 35%;
	margin-top: 0;
}
.proyecto-titulo{
 font-size: 35px;
 color: white;

}


.info-img{
	width: 60%;
	padding: 20px;
	margin: 20px auto; 
}

}

@media(min-width:1024px){

.banner-titulo{
	font-size: 50px;
	margin: 10px 0;
}
.info-titulo{
	font-size: 50px;
}
.info-img{
    width: 50%;
	padding: 5px;
	margin: 5px auto; 
}
.info-columna{
	margin: auto;
	width: 60%;
	padding: 10px;
	margin-bottom: 25px;


}
.nav{
	position: static;
	width: auto;
}
.menu{
 display: flex;
}
.menu-link{
	background: none;
	font-size: 45px;
}
.select{
	color: white;
	background: none;
}
.icon-menu{
	display: none;
}
.selection-titulo{
	font-size: 50px
}
.proyecto-titulo{
 font-size: 40px;
 color: white;

}
}
@media(min-width:1280px){
.contenedor{
	width: 80%;

}
.banner-img{
	margin: auto;
}
.banner-titulo{
	font-size: 70px;
	margin: 5px 0;
}
}




	














	

