*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body{
	background: #E4D6D6;
}

/*esto es la drecoracion de arriba*/
header{
	width: 95%;
	height: 30px;
	background: #550000;
	
	
	top: 0;
	left: 0;
	margin: auto;
	
}
.flor{
	width: 20%;
	height: 20%;

	float: right;
}
/*texto de bienvenida h1*/
h1{ 
	color: #333;
	font-family: 'Poiret One', cursive;
	text-align: center;
	font-size: 60px;
		
}
/*redes sociales*/
.social{
	width: 100%;
	text-align: center;
	font-size: 28px;
	margin: 20;
	padding: 80px;
	

}
.social a{
	color:#333;
	text-decoration: none;
	
}
p{
	color:#333;
	font-size: 20px;
	font-family: 'Coming Soon', cursive;
}

/*aqui comienza las @media*/

@media (min-width: 360px){
	.hora{
		font-size: 10px;
		 color: #EC400A;	
	}
	.direccion{
		font-size: 20px;
		 color: #EC400A;	
	}
	table tr, td{
	        text-align: center;
	        font-size: 25px;
		
		
	}
	
	
	
}
@media (min-width: 600px){
	.hora{
		font-size: 20px;
		 color: #FF6400 	
	}
	.direccion{
		font-size: 20px;
		 color: #FF6400; 	
	}
	table tr, td{
	        text-align: center;
	        font-size: 30px;
			
	}	
	
}





