@import url(https://fonts.googleapis.com/css?family=Open+Sans);

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body{
	font-family: 'open sans', sans-serif;
}


header{
	width: 60%;
	height: 50px;
	right: 0;
	background: #BB6800;
	color: #fff;
	
	position: fixed;
	top: 0;
	left: 0;
	z-index: 100;
	margin: auto;
	
}
.contenido{
	width: 70%;
	position: right;
	float: right;
	
}

h1{ 
	text-align: center;
	width: 45%;
	float: left;
	font-family: 'Cinzel', serif;	
}
header .contenido{
	display: table;
}

header label {
	float: right;
	font-size: 30px;
	margin: 6px 0;
	cursor: pointer;
}

#menu-bar:checked ~ .menu{
	transform: translateX(0%);
	
}
section{
	width: 100%;
	margin-bottom: 25px;
}

#medio {
	display: aline-flex;
	justify-content: center;
	flex-wrap: wrap;
}
#medio article{
	margin: 15px;
}
#medio img{
	width: 70%;
	max-width: 70%;
	text-align: center;
}
#medio h4 {
	font-size: 28px;
	color: blue;
	text-align: center;
	font-family: 'Cinzel', serif;
}

.footer{
	width: 50%;
	height: 500px;
	margin: 50px 20px;
	padding: 60px;
	
}




