@import url(http://fonts.googleapis.com/earlyaccess/jejugothic.css);

*{
	margin: 0;
	padding: 0;
}
body{
	background: #181717;
	font-family: 'Jeju Gothic', sans-serif;
		
}

.cabeza{
	width:50%;
	height: 50px;
	border-radius: 10px 10px 10px 10px;
	-moz-border-radius: 10px 10px 10px 10px;
	-webkit-border-radius: 10px 10px 10px 10px;
	border: 2px solid #E02D92;
	background: white;
	
	position: fixed;
	top: 0;
	left: 30%;
	z-index: 100;
	margin: 50px 100px 50px;	
}
.cabeza a{
	font-size: 11px;
	color:  #E02D92;
	display: aline-flex;
	justify-content: center;
	flex: wrap;
	margin: 10px;
	list: none;
	text-align: center;
	
	
	
}
.logo{ 
	width: 300px;
	height: 300px;
	margin: 30px ;
	
		
}	
p{
	
	font-size: 20px;
	font-family: 'Indie Flower', cursive;
	color: white;
	margin : 50px 50px 50px 50px;
	text-align: center;
		
	
}

.foto{
	width: 70%;
	height: 50%;
	
	
	margin: 0 auto;
	display: block;
	text-align: center;
	
}

.baner{
	width: 90%;
	height: 70%;
	
	margin: 50px 50px 50px 50px;
	display: block;
	text-align: center;
}

.down a{
	width: 5%;
	height: 30px;
	border-radius: 10px 10px 10px 10px;
	-moz-border-radius: 10px 10px 10px 10px;
	-webkit-border-radius: 10px 10px 10px 10px;
	border: 2px solid #E02D92;
	
	font-size: 25px;
	margin: 10px;
	color: white;
	
	
	
	
}


